<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact Us | Duquesne Incline</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="../static/js/jquery.min.js" defer></script>
  <script src="../static/js/scripts.js" defer></script>
</head>
<body>

  <header>
    <img src="../static/images/logo.png" alt="Duquesne Incline Logo">
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/views/visit.html">Plan Your Visit</a></li>
        <li><a href="/views/giftshop.html">Gift Shop</a></li>
        <li><a href="/views/history.html">History</a></li>
        <li><a href="/views/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Join Our Mailing List</h1>

    <form id="signupForm
