<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gift Shop | Duquesne Incline</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

  <header>
    <img src="../static/images/logo.png" alt="Duquesne Incline Logo">
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="visit.html">Plan Your Visit</a></li>
        <li><a href="giftshop.html" class="active">Gift Shop</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Gift Shop Highlights</h1>

    <div class="product">
      <img src="../static/images/giftshop/mug.jpg" alt="Duquesne Incline Coffee Mug">
      <h2>Incline Coffee Mug</h2>
      <p>Enjoy your coffee with
